header{
    background-image: url('clavier.jpg');
    background-size: cover;
    height: 90vh;
}

.navbar-brand {
   font-family: 'Kaushan Script', cursive;
}
#main-nav{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,203,50,1) 0%, rgba(244,56,98,1) 100.2% );
}

#job{
    font-family: montserrat;
}

#emploi{
    font-family: montserrat;
}


.preTxt{
    font-size: 2rem;
}

h1{
    color: white;
    font-weight: 200;
    font-size: 4.5rem;
    font-family: 'montserrat, 'sans-sherif';
    
}

#info{

background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,203,50,1) 0%, rgba(244,56,98,1) 100.2% );
}

#cacard{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,203,50,1) 0%, rgba(244,56,98,1) 100.2% );
}



#carte{
    padding-bottom: 4rem;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,203,50,1) 0%, rgba(244,56,98,1) 100.2% );
}
 #perform{
     border-top: thick double black;
     background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
 }
#start{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,203,50,1) 0%, rgba(244,56,98,1) 100.2% );
    border-top: dashed black;
}
#clients{
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}
#tom{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,203,50,1) 0%, rgba(244,56,98,1) 100.2% ); 
}
#tom1{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,203,50,1) 0%, rgba(244,56,98,1) 100.2% ); 
}
#tom2{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,203,50,1) 0%, rgba(244,56,98,1) 100.2% ); 
}
#tom3{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,203,50,1) 0%, rgba(244,56,98,1) 100.2% ); 
}
#newsletter{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,203,50,1) 0%, rgba(244,56,98,1) 100.2% );
}
#main-footer{
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%); 
}
#debut{
    text-align: left;
    color: white;
    font-style: italic;
    font-size: 4rem
}
#font{
    filter: drop-shadow(25px 25px 25px ) blur(5px);
    letter-spacing: .3rem;
    font-style: italic;
